.header {
    background-color: $header-bgcolor;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__button-wrapper {
    display: flex;
    align-items: center;
}

.header__title {
    margin: 5px 20px;
    font-size: $font-size-xl;
}