@import "./base/fonts";
@import "./base/specs";
@import "./base/common";

@import "./components/Header";
@import "./components//Signin";
@import "./components/Homepage";
@import "./components/Service.scss";
@import "./components/addService.scss";
@import "./components/addAllService.scss";