// common elements spec
* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.show {
    display: block !important;
}

body {
    font-family: $Helvetica-font;
    font-size: $font-size-m;
    background-color: $body-bgcolor;
    margin: 10px;
}

div#EBContainer {
    background-color: #d1cde7;
    border-radius: 10px;
    min-height: 100vh;
    min-height: calc(100vh - 20px);
    overflow: auto;
}

@media (min-width:768px) {
    div#EBContainer {
        max-width: 768px;
        margin: 10vh auto;
        height: 80vh;
        min-height: 50vh;
        position: relative;
    }

    .header__button-wrapper {
        position: absolute !important;
    }
}

// modifiers spec
.button--disabled {
    cursor: default;
}