// fonts spec
$Helvetica-font : Helvetica, Arial, sans-serif;

// font size spec
$font-size-s : 10px;
$font-size-m : 12px;
$font-service-subtitle-size : 15px;
$font-service-title-size: 18px;
$font-app-title-size : 20px;
