// colors spec
$header-bgcolor: #c2b0b0;
$body-bgcolor: #eae8e8;
$service-title-bgcolor: #babac3;
$service-content-bgcolor: #d6d6df;
$service-subtitle-bgcolor: #d0d0d2;


$light-color: #000;
$dark-color: #000;
$medium-color: #000;
$error-color: #000;
$button-disabled-color: #000;

// elemets spec
