// colors spec
$header-bgcolor: #c2b0b0;
$body-bgcolor: #9791bf;
$service-title-bgcolor: #675b9f;
$service-content-bgcolor: #d6d6df;
$service-subtitle-bgcolor: #d1cde7;


$light-color: #000;
$dark-color: #000;
$medium-color: #000;
$error-color: #000;
$button-disabled-color: #000;

// elemets spec
